* { outline: 1px solid #f00;}
.Wrap {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    font-family:'AvenirNextLTPro';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
body {
    background: #f0e7db;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 0 0;
    z-index: 999;
}

.header .container { 
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 50px;
    background: #fff;
}

.header .header_mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.header .Gnb ul {
    display: flex;
    gap: 30px;
}
.header .Gnb ul a {
    display: block;
}

.header .rbox_ngb {
    display: flex;
    gap: 30px;
    font-size: 13px;
}

.header .rbox_ngb li {
    position: relative;
}

.header .rbox_ngb li~li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 1px;
    height: 13px;
    background: #555;
}

.header .rbox_ngb li>a{
    display: block;
}


/* main sc: main_visual */
.main_visual {
    position: relative;
    width: 100%;
}

.main .main_slider figure {
    max-width: 1900px;
    width: 100%;
    max-height: 949px;
    height: 100vh;
}

.main_visual .main_slider .itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover ;
}
.main_visual .main_slider .itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover ;
}
.main_visual .main_slider .itm03 {
    background: url(../img/main03.jpg)no-repeat center center/cover ;
}
.main_visual .main_slider .itm04 {
    background: url(../img/main04.jpg)no-repeat center center/cover ;
}
.main_visual .main_slider .itm05 {
    background: url(../img/main05.jpg)no-repeat center center/cover ;
}

/* main_visual act */
.main_visual .main_act {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main_visual .main_act .wheel{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 30px;
    z-index: 2;
}

.main_act .wheel span {
    font-size: 0;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 3px;
    height: 6px;
    background: #fff;
    border-radius: 2px;
    animation: wheel 1.5s infinite;
    z-index: 2;
}

@keyframes wheel {
    to {
        top: 13px;
    }
}

.main_visual .act_txt {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    justify-content: center;
    color: #fff;
    z-index: 999;
}

/* main_coupon*/
.coupon {
    padding: 50px 0;
}

.coupon .inner {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}


/* selection */
.selection {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: center;
}

.selection .sele_title {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
}

.selection .sele_tab {
    margin: 35px 0 0 0;   
    text-align: center;
}


.selection .sele_tabtit {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: rgba(83, 81, 61, 0.6);
}
.selection .sele_tabtit li>a{
    display: block;
    padding: 8px 25px;
}

.selection .sele_tabtit li{
    position: relative;
}

.selection .sele_tabtit li~li::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    top: 7px;
    left: 0;
    background: #9d9789;
}


/* selection slider */
.selection .sele_slider {
    display: flex;
    padding: 50px 0;
}
.sele_slider .box_img>a{
    display: block;
    width: 308px;
    height: 320px;
    background: #bab7a4;
}

.sele_slider .box_img {
    position: relative;
}

.box_img .box_icon {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: auto;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.box_img .box_icon span{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.box_img .box_icon span:nth-child(1) {
    background: #ffcc66;
    padding: 5px 5px;
}
.box_img .box_icon span:nth-child(2) {
    background: #666633;
    padding: 5px 5px;
}


.sele_box .box_info {
    display: block;
    width: 308px;
    padding: 25px;
    text-align: left;
    background: #fff;
}

.sele_box .info_tit_box { margin-bottom: 20px;}

.sele_box .info_tit_box strong{
    display: block;
    font-size: 15px;
    color: #53513d;
    
}

.sele_box .info_tit_box strong>p {
    font-size: 13px;
    color: #716f5e;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.sele_box .info_pri_box span:nth-child(1) {
    color: #bab7a4;
    text-decoration: line-through;
}
.sele_box .info_pri_box span:nth-child(2) {
    font-weight: 700;
    color: #53513d;
}








